@model Estate
@{
    var images = Model.Pictures.Split("|").ToArray();
    string[] addressImages = Model.Address.Pics.Split("|").ToArray();
}
<div>

    <div class="d-flex justify-content-center w-75 flex-wrap">
        <h3> Type: @Model.EstateType</h3>
        <h3>


            <br>@Model.EstateStatus    @if (Model.EstateStatus == EstateStatus.Available)
            {
                <i class="fa-solid fa-check"> </i>
            }
            else
            {
                <i class="fa-solid fa-xmark"></i>
            }
            <br>@Model.Price bgn
            <br><img src="@Model.MainPic" />
            <br>@Model.Description
            <br>@Model.Rooms rooms
            <br>@Model.Floor floor of maxfloor @Model.MaxFloor
            <br>@Model.Area kv.
            <br>Extras
            <br>Rent :@Model.Extras.Rent
            <br>Elevator :@Model.Extras.Elevator
            <br>Electricity :@Model.Extras.HasElectricity
            <br>Water :@Model.Extras.HasWater
            <br>Gas :@Model.Extras.HasGas
            <br>EastSide :@Model.Extras.East
            <br>NorthSide :@Model.Extras.North
            <br>WestSide :@Model.Extras.West
            <br>SouthSide :@Model.Extras.South
            <br>Address Info
            <br><i class="fa-solid fa-map-location-dot"></i> @Model.Address.Neighbourhood
            <br>@Model.Address.City
            <br>@Model.Address.Description



        </h3>
        <div id="carouselExampleControls" class="carousel slide w-50" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="@Model.MainPic" class="d-block w-100" alt="...">
                </div>

                @foreach (string pic in images)
                {
                    <div class="carousel-item">
                        <img src="@pic" class="d-block w-100" alt="...">
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


    </div>
    <div class="d-flex flex-wrap">
        @foreach (string pic in addressImages)
        {
            <br>
            <img class="rounded-pill w-50 p-2" src="@pic" />


        }
    </div>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <div class="d-flex justify-content-between w-50 mx-auto mt-4">

            <form method="get" asp-action="Edit">
                <fieldset>
                    <input type="hidden" name="id" value="@Model.Id" />
                    <button type="submit" class="btn btn-warning"><i class="fas fa-pencil-alt"></i> </button>
                </fieldset>
            </form>
            <form method="post" asp-action="Delete">
                <fieldset>
                    <input type="hidden" name="id" value="@Model.Id" />
                    <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i> </button>
                </fieldset>
            </form>
        </div>
    }
</div>
<div>
 
    <a asp-action="Index">Back </a>
</div>

