@model DiplomenProekt.Data.Models.Address

<!DOCTYPE html>
 @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>CreateAddress</title>
    </head>
    <body>

        <h2>Address</h2>
        <hr />
        <div class="row" d-flex justify-content-center">
            <div class="col-md-8">
                <form method="post" asp-action="Create">
                    <div class="form-group">
                        <label asp-for="City" class="control-label"></label>
                        <select asp-for="City" class="form-control">
                            @foreach (var item in Enum.GetValues<Town>())
                            {
                                <option value="@((int)item)">@item.ToString()</option>
                            }
                        </select>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <span asp-validation-for="@Model.City" class="text-danger"></span>

                <div class="form-group">
                    <label asp-for="@Model.Neighbourhood" class="control-label"></label>
                    <input asp-for="@Model.Neighbourhood" class="form-control" />
                    <span asp-validation-for="@Model.Neighbourhood" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Pics" class="control-label"></label>
                    <textarea asp-for="@Model.Pics" rows="4" cols="50" class="form-control"></textarea>
                    <span asp-validation-for="@Model.Pics" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Description" class="control-label"></label>
                    <textarea asp-for="@Model.Description" rows="4" cols="50" class="form-control"></textarea>
                    <span asp-validation-for="@Model.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create Address" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
    </body>
    </html>
    }
